<h1 class="text-center display-1">Welcome to my Daily Journal Application</h1>
<h1 class="mt-5">What this site is about:</h1>
<div class="bg-secondary text-light p-3 rounded-3 h4 box-shadow-2">
  <p>It is a daily journal application where a user can go to log their day to day and reflect on their day and how some
    things may have affected them or changed them in any way shape or form. The user will be able to fill out a form
    which
    has a simple user interface in which has a form in which the user can log their daily events and a log in which they
    can
    see past days and be able to reflect on them.</p>
  <div class="w-100 text-center">
    <button type="button" class="btn btn-dark"><a class="text-decoration-none text-light h3"
        [routerLink]="['/entry']">Make
        Your
        First
        Entry</a></button>
  </div>
</div>

<h1 class="mt-4">Extra Information:</h1>
<div class="bg-secondary text-light p-3 rounded-3 h4 box-shadow-2">
  <p>
    This application is my first application using angular and I am making this application because I felt I needed a
    better
    tool to use to track my day to day life and all of the events and things that happen during it so that I can
    practice
    and be more self aware and be able to learn and grow more as a person.
  </p>
</div>