<div class="container">
  <h1>Create New Entry</h1>
  <form [formGroup]="newEntryForm" (ngSubmit)="onSubmit()" class="my-4">
    <div class="row">
      <div class="mb-3 col">
        <label for="date" class="form-label">Date</label>
        <input type="date" id="date" formControlName="date" class="form-control" placeholder="Enter date" required>
      </div>
       <div class="mb-3 col">
        <label for="rating" class="form-label">Rating (0-5)</label>
        <input type="range" class="form-range" min="0" max="5" step="1" id="rating"  formControlName="rating" required>
       </div>
    </div>
    <div class="mb-3">
      <label for="mood" class="form-label">Mood</label>
      <select class="form-select form-select-lg mb-3" required id="mood" formControlName="mood">
        <option selected value="Happy">Happy</option>
        <option value="Sad">Sad</option>
        <option value="Amgry">Angry</option>
        <option value="Bored">Bored</option>
        <option value="Anxious">Anxious</option>
        <option value="Calm">Calm</option>
        <option value="Fullfilled">Fullfilled</option>
        <option value="Lonely">Lonely</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="affirmation" class="form-label">Affirmation</label>
      <input type="text" id="affirmation" formControlName="affirmation" class="form-control" placeholder="Enter affirmation" required>
    </div>
    <div class="row">
    <div class="mb-3 col">
      <label for="achievement" class="form-label">Achievement</label>
      <input type="text" id="achievement" formControlName="achievement" class="form-control" placeholder="Enter achievement" required>
    </div>
      <div class="mb-3 col">
      <label for="nonAchievement" class="form-label">Non-Achievement</label>
      <input type="text" id="nonAchievement" formControlName="nonAchievement" class="form-control" placeholder="Enter non-achievement" required>
    </div>
    </div>
    
    <div class="mb-3">
      <label for="tomorrowsGoal" class="form-label">Tomorrow's Goal</label>
      <input type="text" id="tomorrowsGoal" formControlName="tomorrowsGoal" class="form-control" placeholder="Enter tomorrow's goal" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
